.box,
.box-align,
.box-middel,
.box-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

.box-vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}

.box-align,
.box-middel {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.box-align {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.loading-body {
  padding-top: 50px;
}

.loading {
  color: #999;
  text-align: center;
  line-height: 1.5;
}

.loading span {
  margin-left: 5px;
}

.nonedata-body {
  padding-top: 50px;
}

.none-data {
  color: #f43530;
  text-align: center;
  line-height: 1.5;
}

.none-data span {
  margin-left: 5px;
}

.list-body {
  background-color: #f8f8f8;
  overflow: hidden;
}

.search-body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #02bb00;
}

.scroll-body {
  padding-top: 44px;
  box-sizing: border-box;
}

.group-body {
  margin: 10px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.flex-box {
  padding: 10px;
  box-sizing: border-box;
}

.flex-box-ver {
  padding: 10px 0;
  box-sizing: border-box;
}

.arrow-body {
  padding: 0 5px 0 10px;
}

.arrow {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  border-width: 2px 2px 0 0;
  border-color: #ccc;
  border-style: solid;
}

.article-body {
  padding: 15px;
}

.section-body {
  padding: 15px 0;
  border-top: 1px solid #02bb00;
  border-bottom: 1px solid #ececec;
}

.section-body p {
  margin-bottom: 1em;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.section-body img {
  width: 100% !important;
  height: auto !important;
}

.popup-body {
  font-size: 16px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.personal-list {
  padding-top: 44px;
  box-sizing: border-box;
}

.meeting-title {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 100;
  background-color: #ff992d;
}

.meeting-title p {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}